.hero {
    text-align: center;
    padding: 50px 0;
    background-color: #f0f0f0;
  }
  
  h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
    color: #666;
    max-width: 600px;
    margin: 0 auto;
  }
  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .intro{
    margin:60px;
    display: flex;
    align-items: center;
    gap:30px;
    justify-content: center;
  }
  /* .intro .name{
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    max-width: 300px; 
    word-wrap: break-word; 
    margin: 10px 0; 
    color: #333;
  } */
  .message-box {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    max-width: 400px;
    width: 300px;
    word-wrap: break-word;
    margin: 10px 0;
    color: #333;
    /* height: 50px; */
    position: absolute;
    opacity: 0; /* Hidden by default */
    transition: opacity 1s ease; 
}

.message-box.visible {
    opacity: 1; /* Show the element */
}

.message-boxes {
    position: relative; /* Ensure container doesn't collapse */
    height: 50px; /* Ensure container keeps its height */
}

  